
body {
  font-family: 'Russo One', sans-serif;
}

h1 {
  margin-bottom: 0;
  clear: both;
}

ul#links {
  float: left;
  clear: both;
}

#controls {
  clear: both;
}
#game-board {
  width: 500px;
  font-family: 'Russo One', sans-serif;
  clear: both;
}

#game-board div {
  width: 23px;
  height: 23px;
  float: left;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#game-board div.unrevealed:hover {
  background-color: #FFFF00;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  -o-transition: all 0s ease;
  transition: all 0s ease;
}

.mine {
  background-color: #FF0000;
  font-size: 18px;
  font-weight: bold;
}

.unrevealed {
  background-color: #848484;
}

.revealed {
  background-color: #F2F2F2;
}

.flagged {
  background-color: #5FB404;
}

.one {
  color: #08088A;
}

.two {
  color: #088A4B;
}

.three {
  color: #5FB404;
}

.four {
  color: #D7DF01;
}

.five {
  color: #FF00BF;
}

.six {
  color: #FF0040;
}

.seven {
  color: #FF8000;
}

.eight {
  color: #FF0000;
}